dataweaveselectorexamples/src/main/mule/dataweaveselectorexamples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ca19f8ab-e7ce-4105-93b6-e878e161e872" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataweaveselectorexamplesFlow" doc:id="6d8eff54-c975-42e0-ab1a-3251ac9753d7" >
		<http:listener doc:name="Listener" doc:id="3dfa4357-194a-4f7e-8fc6-c65968da5986" config-ref="HTTP_Listener_config" path="/*" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="e5685a43-ccc6-4b78-bcbd-eca9ac4c1e01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns stores http://www.acme.com/shemas/Stores
---
//Single-value:.keyName:Any type of value that belongs to a matching key
		//payload.id
		
//Multi-value: .*keyName : Array of values of any matching keys
		//payload.*id
		
//Descendants:..keyName:Array of values of any matching descendant keys
		//payload.batters.batter.id // get null 
        //payload.batters.batter..id 
        
//Key-value pair:.&keyName:Object with the matching key  
			//payload.ppu // to check the diffrence
			//payload.&ppu	
			
//Index:[<index>]:Value of any type at selected array index		
			//payload.batters[0] //payload.batters[1]	
			
//Range:[<index> to <index>]:Array with values from selected indexes
			//payload.batters.batter..id[0 to 3]	
			
//XML attribute:@, .@keyName:String value of the selected attribute
		//change output application/xml
		/*name @(company: "Acme"): "DataWeave" */
		
//Namespace:keyName.#:String value of the namespace for the selected key		
		//change output application/xml
		//uncomment 
		//stores#shipNodeId: "SF02"
		
//Key present:keyName?, keyName.@type?:Boolean
		//payload.id?
		
//Assert present:keyName!:String: Exception message if the key is not present	
		//payload.cake!	// error 
//Filter:keyName[?(boolean_expression)]:Array or object containing key-value pairs 		
payload.*id[?($ == "0003")] 
		]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6e9a3be7-f5b2-4d11-aff3-6aa572fe7183" message="#[payload]"/>
	</flow>
</mule>
