dataweaveoperatorexamples/src/main/mule/dataweaveoperatorexamples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweaveoperatorexamplesFlow" doc:id="c274d9ef-7ec8-4069-a7f3-57ba99fd88b0" >
		<scheduler doc:name="Scheduler" doc:id="e3be9301-3d02-4e8e-bd61-5a7513ed25d6" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="e71f3545-c2d1-4f8f-85cd-2b0e6cb016af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
basicOperation: {
	"+": 1+1,
	"-" : -1-1,
	"*" : (3*4)-(1+1),
	"/" : 5/10,
	"max": max([1, 2, 3, 4]),
	"min": min([1, 3, 4, -5, -6, 1, 0, -6])
	
},	
relation : { "if(a<b)" : (9 < 10),
		     "if(a<b)" : (14 < 10)},
		     
equality : {
	"Type missmatch":('1' == 1),
	"equal":(1 ==1),
	"notequla":(1 != 1),
	"~": (1 ~= '1'),
	"operation with equal":(1+1) == 2},	
	
ifCondition: {
	"ifAnswer": if (1 + 1 == 2 and not 1 == 2) {"answer": "bar"}
                else {"answer": "nope"},
    "ifNotAnswer": if (not (1 + 1 == 2 and not 1 == 1)) {"answer": "foobar"}
                    else {"answer": "nope"}},
                    
prependAppend:{
	"prepend" : 1 >> [2],
	"prepend-array" : [1] >> [2, 3],
	"append-number" : [1] << 2,
	"append-array" : [1,2] << [1, 2, 3]  }
	    
}




		]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c702a9f8-234d-425a-91d3-005ab28be2fc" message="#[payload]"/>
	</flow>
</mule>
